.App {
  text-align: center;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  background-color: #f1b2b531;
}

.grid {
  margin-top: 4rem;
  padding-top: 0rem;
  position: fixed;
  z-index: 5;
  background-color: #fafafa;
}


